 @import "tailwindcss";
 :root{
    font-family: "Poppins",sans-serif;
    color-scheme: dark;
}   
 


@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}






/* Enable dark variant when `.dark` class is present on any ancestor 
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
} */


/* @keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(50%); }
} */